<div class="section">
  <h2 class="white-text">Welcome</h2>
  <h5><%= current_user.first_name %></h5>
</div>
<div class="divider"></div>

  <% if @b_lists.any? %>
    <div class="row">
      <% @b_lists.each do |b| %>
        <div class="col s12 m4">
          <div class="card small grey darken-3">
            <div class="card-content white-text">
                <h4 class="valign">
                  <%= link_to "#{b.name}", b_list_path(b.id), class: "white-text" %>
                </h4>
            </div>
            <div class="card-action">
              <%= link_to "Edit", edit_b_list_path(b) %>
              <%= link_to "Delete", b_list_path(b), method: :delete %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
