@import "materialize";
@import "b_lists";
@import "items";

body {
  background-color: hsla(15, 100%, 64%, 0.95); 
}

.link-btn {
  border: none;
  border-radius: 0px;
  display: inline-block;
  line-height: 36px;
  text-transform: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: none;
  box-shadow: none !important;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}