  <nav class="transparent">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="root_path" class="breadcrumb">Home</a>
        <a href="b_list_path[:id]" class="breadcrumb">Bucket List</a>
      </div>
    </div>
  </nav>